<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="problemsMenu">Problemas</button>
    <mat-menu #problemsMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="goProblem1()">Problema-1</button>
        <button mat-menu-item (click)="goProblem2()">Problema-2</button>
    </mat-menu>
    <span class="spacer"></span>
    <span>Digistart</span>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
    <router-outlet></router-outlet>
</div>